@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic);

@charset "UTF-8";
/* CSS Document */

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  /* you need to set this to assign to the main element a min height of 100% */
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #fff;
}

a {
  color: #ff8f2b;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2b80ff;
  text-decoration: underline;
}

h1 {
  font-weight: 700;
  font-size: 3.75em;
}

h2 {
  font-size: 2.9em;
  font-weight: 100;
  line-height: 1.33em;
}

:hover{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header_bar {
  max-height: 75px;
  border-bottom: 5px rgba(255, 255, 255, 0);
  
}

#header_bar .prodLogo a{
  color: #fff;
  font-size: 2.5em;
  padding-left: 85px;
   padding-top: 9px;
}

#header_bar .prodLogo {
  padding-top: 9px;
}

#header_bar .prodLogo a:hover {
  text-decoration: none;
}

.prodLogo {
  width: 90px;
  height: 75px;
 padding-top: 29px;
  background: url("../images/logo-1.png");
}

/* topNav */

.cd-menu-text {
  padding-top: 3px;
}

#header_bar {
  background-color: rgba(255, 255, 255, 0);
}

#header_bar.is-fixed {
  position: fixed;
  top: 4;
  left: 0;
  width: 100%;
  z-index: 10;

}

@media only screen and (min-width: 768px) {
  header {
    max-height: 75px;
  }
}

#cd-top-nav ul {
  padding-top: 0;
}

#cd-top-nav li {
  margin-right: 1em;
}

#cd-top-nav a {
  padding: 1.083em;
  font-family: 'PT Sans', sans-serif;
  color: #FFF;
  font-size: 1.5em;
  text-transform: none;
  font-weight: 300;
}

#cd-top-nav a:hover {
  background-color: #5a6a62;
}

#cd-menu-trigger {
  background-color: rgba(255, 255, 255, 0);
}

#cd-menu-trigger .cd-menu-text {
  font-weight: 700;
}

#cd-lateral-nav {
  background: url("../images/sideMenuBg-1.jpg");
}

#cd-lateral-nav a.current {
  background-color: #69d2e7;
  color: #5a6a62;
}

#cd-lateral-nav .item-has-children > a {
  font-weight: 700;
}

#cd-lateral-nav .item-has-children > a::after {
  background: url("../img/cd-arrow.svg") no-repeat center center;
}

#cd-lateral-nav .socials a {
  background-image: url("../img/cd-socials.svg");
}

/* end topNav*/

#header_bar .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 20;
  padding-left: 20;
}
.widget {
    background: #fff;
    margin: 0 auto 15px;
    position: relative;
    border: 1px solid #e6e6e6;
}

.content-row{
  width: 100%;
  background-color: #d3cbc0;
}

.content-row .container {
  width: 1000px;
  height: 360px;
}


.widget-pinterest .widget-body {
    padding: 0
}

.widget-pinterest .widget-body .description {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 16px;
    padding: 15px
}

.widget-pinterest .widget-body .thumb {
    padding: 0;
    border: none
}

.widget-pinterest .widget-body .thumb img {
    width: 100%;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0
}

[data-gridalicious-gutter="0"] .widget-pinterest {
    margin-bottom: 15px !important
}

[data-gridalicious-gutter="0"] .galcolumn:not(:first-of-type) .widget-pinterest {
    margin-left: 15px
}

.mixitup .mix {
    opacity: 0;
    display: none
}

#home5{
  color: #ffffff;
padding-top: 24px;
 margin-top: 66px;
   height: 450px;
  background-color: #e0e4cc;
  background: url(../img/teach.jpg) top no-repeat;
}
#home4{
  color: #ffffff;
 margin-top: 65px;
   height: 450px;
  background-color: #e0e4cc;
  background: url(../img/ent4.jpg) top no-repeat;
}

#home3{
  color: #ffffff;
margin-top:-99px;
   height: 450px;
  background-color: #e0e4cc;
  background: url(../img/fash.jpg) fixed;
}


#home2 {
  color: #ffffff;
 margin-top: 65px;
   height: 450px;
  background-color: #e0e4cc;
  background: url(../img/ent2.jpg) top no-repeat;
}

.bg-gray {
    background: #f2f2f2 !important
}

.bg-white {
    background-color: #fff !important
}
#home {
  color: #ffffff;
  padding-top: 24px;
   height: 40px;
   margin-top: 66px;
  background-color: #e0e4cc;
  background: url(../img/tempBg-1.jpg) top no-repeat;
}

#home h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

#home, #students, #enterprise, #about {
  min-height: 450px;
    padding-top: 35px;
}


#students {
 
    min-height: 5px;
}

#teachers {
  background-color: #ff8f2b;
    min-height: 210px;
}

#enterprise {
  background-color: #5a6a62;
}

#students .col-xs-12.col-sm-4.col-md-4,
#teachers .col-xs-12.col-sm-4.col-md-4,
#enterprise .col-xs-12.col-sm-4.col-md-4 {
  padding-right: 0;
}

#students .col-xs-12.col-sm-4.col-md-4 .col,
#teachers .col-xs-12.col-sm-4.col-md-4 .col,
#enterprise .col-xs-12.col-sm-4.col-md-4 .col
 {
  padding-top: 40px;
}

#students div.icon-k,
#teachers div.icon-k,
#enterprise div.icon-k {
  margin-bottom: 40px;
}

#students .icon-k,
#teachers .icon-k,
#enterprise .icon-k {
  width: 125px;
  height: 125px;
  margin: 10px auto;
}

#students h2,
#teachers h2,
#enterprise h2 {
  font-weight: 300;
  font-size: 22px;
}

#students h1,
#teachers h1,
#enterprise h1,
#about h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3.5em;
}

#students h3,
#teachers h3,
#enterprise h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5em;
}

#students .col,
#teachers .col,
#enterprise .col {
  text-align: center;
}

#students h2, #students .col {
  color: #adadad;
  border-color: #69d2e7;
}

#teachers h2, #teachers .col {
  color: #5a6a62;
  border-color: #5a6a62;
}

#enterprise h2, #enterprise .col {
  color: #fdf200;
  border-color: #fdf200;

}

#students .divider-horizontal, #students h1 {
  color: #34495e;
  border-color: #34495e;
}

#teachers .divider-horizontal, #teachers h1 {
  color: #ffffff;
  border-color: #707266;
}

#enterprise .divider-horizontal, #enterprise h1 {
  color: #eaf6f6;
  border-color: #eaf6f6;
}

#about .divider-horizontal, #about h1, #about p{
  color: #f8d1b1;
  border-color: #f8d1b1;
}


#students .col,
#teachers .col,
#enterprise .col {
  height: 320px;
  margin: 30px;
  border-width: 1px;
  border-style: solid;
}

#students .col.active, #students .col:hover,
#teachers .col.active, #teachers .col:hover,
#enterprise .col.active, #enterprise .col:hover {
  color: #fff;
  background-color: #2c3e50;
  border: 0;
}

#students .row, #teachers .row, #enterprise .row{
  width: 120%;
margin-left: -75px;
}

#about {
  background-color: #f38630;
}

#about p{
  width: 78%;
  font-size: 15px; 
  font-weight: 300; 
}

#sponsors{
  width: 100%;
  height: 155px;
  background-color: #f2f2f2;
}

#cd-lateral-nav {
  font-family: "Titillium Web", sans-serif;
  font-size: 1em;
  font-weight: 300;
}


#pisaraMessage{

  padding-top: 70px;
  font-size: 40px;
  text-align: center;
  margin: auto;
  color: #FB861D;


}

#pisaraName{

  
  
  color: #FB861D;
  font-weight: bolder;
  font-size: 55px;
  text-shadow: -5px 1px 3px rgba(255, 255, 255, 1);

}

#pisaraNames{

  
  
  color: #FB861D;
  font-weight: bolder;
  font-size: 35px;
  text-shadow: -5px 1px 3px rgba(255, 255, 255, 1);

}
#pisaraSubtitle{

  text-align: center;
  margin: auto;
  font-weight: bold;
  font-size: 20px;



}

#pisaraBoxWrapper{

  margin: auto;
  text-align: center;
  height: 450px;
  padding-top: 60px;
}


.pisaraServiceBox{

  width: 250px;
  height: 100px;

  display: inline-block;
  vertical-align: top;

  padding: 0px 75px 0px;


}

.pisaraBoxImage img{

  height:220px;
  width:220px;


}

.pisaraServiceTitle{


  font-size: 20px;
  color: #FB861D;
  padding-top: 10px;
  font-weight: bold;


}

.pisaraServiceDetail{

  font-size: 15px;
  


  padding-top: 10px

}

}


.ClassList {
  margin:0px;padding:0px;
  width:100%;

}

.ClassList .longtd
{    
    width: 600px;
    background-color: rgb(245, 245, 245);
    text-align: left;
    padding: 10px;
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;
    color: #000000;
}

.ClassList .shorttd
{
    width: 100px;
    background-color: rgb(245, 245, 245);
    text-align: left;
    padding: 10px;
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;
    color: #000000;
}

.ClassTitle{
    font-size: x-large;
    color: #333333;
    text-align: left;
    
}
.ClassDesc{
    font-size: 12px;
    color: rgba(0, 0, 0, .8);
    text-align: justify;
      
}
.ClassAuthor{
    font-size: larger;
    color: #FB861D; 
    text-align: left;
       
}
.ClassFooter{
    font-size: medium;
    color: #494949;
    
        
    
}

.coursetitle {
  font-size: 150px;
  color: #354b60;
}




.divider-vertical {
  height: 30px;
  margin: 21px 9px;
  border-left: 2px solid #52c1d7;
}

.divider-horizontal {
  width: 230px;
  margin: 30px auto;
  color: #f38630;
  border-top-width: 1px;
  border-top-style: solid;  
}

.divider-horizontal span{  
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.section-text {
  margin: 20px auto;
}

.slideshow img{
  padding-top: 28px;
  margin-right: 30px;
}

#footer {
  min-height: 40px;
  
}

#footer hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #a8e5f1;
}

#footer .links{
  min-height: 130px;
}



#footer p {
  color: #fff;
  padding: 5px 25px;
}

#footer .goTop, #footer .goTop a{
  width: 100%;
  min-height: 70px;
}

#footer .goTop a {
  height: 100%;
  display: block;
}